
*$py.class
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
build/
# Byte-compiled / optimized / DLL files
.cache
celerybeat.pid
celerybeat-schedule
# Celery stuff
# C extensions
*.cover
.coverage
coverage.xml
db.sqlite3
db.sqlite3-journal
!dbt_artifacts_parser/parsers/manifest
!dbt_artifacts_parser/resources/manifest
develop-eggs/
dist/
# Distribution / packaging
# Django stuff:
.dmypy.json
docs/_build/
downloads/
*.egg
*.egg-info/
eggs/
.engram/
.env
ENV/
env.bak/
# Environments
# Flask stuff:
.github/configs/.secrets.txt
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
htmlcov/
.hypothesis/
#   install all needed dependencies.
.installed.cfg
# Installer logs
instance/
.ipynb_checkpoints
# IPython
ipython_config.py
# Jupyter Notebook
lib/
lib64/
local_settings.py
*.log
*.manifest
MANIFEST
# mkdocs documentation
*.mo
# mypy
.mypy_cache/
nosetests.xml
.nox/
parts/
# PEP 582; used by e.g. github.com/David-OConnor/pyflow
pip-delete-this-directory.txt
# pipenv
#Pipfile.lock
pip-log.txt
pip-wheel-metadata/
*.pot
profile_default/
# PyBuilder
__pycache__/
*.py[cod]
*.py,cover
# pyenv
# PyInstaller
__pypackages__/
.pyre/
# Pyre type checker
.pytest_cache/
.Python
.python-version
.ropeproject
# Rope project settings
# SageMath parsed files
*.sage.py
.scrapy
# Scrapy stuff:
sdist/
share/python-wheels/
/site
*.so
*.spec
# Sphinx documentation
.spyderproject
# Spyder project settings
.spyproject
target/
test/fixtures/test.diff
.tox/
# Translations
# Unit test / coverage reports
#  Usually these files are written by a python script from a template
var/
.venv
venv.bak/
.vscode
# VSCode
.webassets-cache
wheels/
